<!-- start custom head snippets -->

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32"
    href="{{ site.url }}{{ site.baseurl }}/assets/images/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16"
    href="{{ site.url }}{{ site.baseurl }}/assets/images/favicons/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">

{% if page.image.feature %}
<meta property="og:image" content="{{ page.image.feature | absolute_url }}">
<meta name="twitter:image" content="{{ page.image.feature | absolute_url }}">
<meta name="twitter:card" content="summary_large_image">
{% endif %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-19YQF7RSV8"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-19YQF7RSV8');
</script>

<!-- end custom head snippets -->