{% assign posts = include.posts | where_exp: "post", "post.hidden != true" %}
<div class="page__related">
    {% include before-related.html %}
    <h2 class="page__related-title">{{ site.data.ui-text[site.locale].related_label | default: "You May Also Enjoy" }}
    </h2>
    <div class="grid__wrapper">
        {% for post in posts limit:4 %}
        {% if post.id == page.id %}{% continue %}{% endif %}

        <div class="grid__item">
            <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
                {% if post.image.feature %}
                <div class="archive__item-teaser">
                    <a href="{{ post.url | relative_url }}">
                        <img src="{{ post.image.feature | relative_url }}" alt="{{ post.title }}">
                    </a>
                </div>
                {% endif %}
                <h2 class="archive__item-title no_toc" itemprop="headline">
                    <a href="{{ post.url | relative_url }}" rel="permalink">{{ post.title }}</a>
                </h2>
                {% if post.excerpt %}
                <p class="archive__item-excerpt" itemprop="description">
                    {{ post.excerpt | strip_html | truncate: 160 }}
                </p>
                {% endif %}
            </article>
        </div>

        {% endfor %}
    </div>
</div>